:root { /*define colori primari*/
    --background-color: rgb(236, 197, 96);
    --title-color: #000000;
    --sidebar-color: rgb(14, 82, 95);
    --button-transition-color: rgb(11, 146, 76);
    --table-color: rgb(178, 196, 221);
    --log-color: rgb(14, 82, 95);
}

body {
    background-color: var(--background-color);
    text-align: center;
}

.mainTitle {
    margin-left: 15%;
    text-align: center;
    color: var(--title-color);
    font-size: 70px;
}

.subTitle {
    margin-left: 15%;
    text-align: center;
    color: var(--title-color);
    font-size: 45px;
}

#log {
    text-align: center;
    color: var(--log-color);
    margin-left: 15%;
    font-size: 40px;
    padding: 0px 10px;
}

button {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.button:hover {
    background-color: var(--button-transition-color);
}

.weak {
    color: red;
}

.medium {
    color: orangered;
}

.strong {
    color: green;
}

.main {
    margin-left: 15%;
    font-size: 40px;
    padding: 0px 10px;
}

.input {
    height: 30px;
    width: 300px;
    padding-top: 5px;
    font-size: 20px;
}

/*SIDEBAR*/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidebarButton {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 70px;
    width: 70%;
    font-size: 25px;
}

.sidebarButton:hover {
    background-color: var(--button-transition-color);
}


/*TABELLA*/

table {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    background-color: var(--table-color);
    color: #000000;
    border-color: #000000;
    text-align: center;
    font-size: 35px;
    border: 2px solid black;;
}

tr,
td {
    height: 50px;
    width: 150px;
    border: 1px solid black;
}

.free {
    background-color: green;
}

.notfree {
    background-color: red;
    font-size: 20px;
}

.selected {
    background-color: yellow;
}
.booked {
    background-color: orangered;
    font-size: 20px;
}