:root {
    --background-color: #8D918B;
    --title-color: #AAD922;
    --sidebar-color: #3891A6;
    --button-transition-color: #FDE74C;
    --table-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
    text-align: center;
}

.mainTitle {
    margin-left: 15%;
    text-align: center;
    color: var(--title-color);
    font-size: 70px;
}

.showErrorLog {
    text-align: center;
    color: red;
}

button {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.button:hover {
    background-color: var(--button-transition-color);
}

.weak {
    color: red;
}

.medium {
    color: orange;
}

.strong {
    color: green;
}

.main {
    margin-left: 15%;
    font-size: 40px;
    padding: 0px 10px;
}

.input {
    height: 30px;
    width: 300px;
    padding-top: 5px;
    font-size: 20px;
}

/*SIDEBAR*/

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.userSidebar {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

.sidebarButton {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 70px;
    width: 70%;
    font-size: 25px;
}

.sidebarButton:hover {
    background-color: var(--button-transition-color);
}


/*TABELLA*/

table {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    background-color: var(--table-color);
    color: #000000;
    border-color: #000000;
    text-align: center;
    font-size: 35px;
}

tr,
td {
    height: 50px;
    width: 150px;
}

.free {
    background-color: green;
}

.notfree {
    background-color: red;
    font-size: 20px;
}

.selected {
    background-color: yellow;
}
.booked {
    background-color: orangered;
    font-size: 20px;
}